---
layout: default
---

<div id="program">

<div class="row">
<p>
     For each paper being presented at the workshop, we will host a pdf of the paper and a pre-recorded
     (lightning / contributed talk) from SlidesLive, both of which can be accessed from each paper's landing page
     (which you can access by clicking on the title of the relevant paper).
     We will also host a poster for each paper in GatherTown spread across <a href="/schedule.html"> two sessions</a>
     (main session is indicated below). <i> All authors are encouraged to present in both sessions.</i></p>
</div>

{% for session in site.data.sessions %}
<div class="row">
<a name="session-{{ session.id }}"></a>
<!--<h3>{{ session.title }}</h3>-->
<table class="table table-striped">
<thead>
     <tr>
          <th>Title</th>
          <th>Authors</th>
          <!-- <th>Track</th> -->
          <th>PDF</th>
          <th>Session</th>
</thead>
<tbody>

{% for paper in session.papers %}
<tr>

<td>
<span><a href="/program/orlr_{{ paper.id }}.html">{{ paper.title }}</a></span>
{% if paper.kind == "oral" %}
<span> (Oral)</span>
{% elsif paper.kind == "spotlight" %}
<span> (Spotlight)</span>
{% endif %}
</td>

<td>
{{ paper.authors }}
</td>

<!--<td>-->
<!--{% if paper.track == "blue_sky" %}-->
<!--Blue Sky Ideas-->
<!--{% elsif paper.track == "research" %}-->
<!--Research-->
<!--{% endif %}-->
<!--</td>-->

<td>
{% if paper.camera_ready %}
<a href="https://github.com/orlrworkshop/orlrworkshop.github.io/blob/master/pdf/ORLR_{{ paper.id }}.pdf" target="_blank">PDF</a>
{% endif %}
</td>
<td>
{% if paper.session == 1 or paper.session == 2%}
#{{paper.session}}
{% endif %}
{% if paper.session == 3%}
#1/#2
{% endif %}
</td>

</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endfor %}

</div>
